@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', ;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
/* header */
header{
    background:url(../images/header.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        background: rgb(0,0,0, .1);
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
        .logo{
            flex: 1 1 auto;
            height: 50px;
        }
            .logo a{
                color: #fff;
                font-size: 30px;
            }
            .logo a:hover{
                color: #343434;
                
            }
        .nav{
            flex: 5 1 auto;
            height: 50px;
        }
            .nav a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
                 
            }
            .nav a:hover{
                color: #343434;
            }
        .social{
            display: flex;
            flex: 1 1 auto;
            height: 50px;
        }
            .social a{
                font-size: 18px;
                color: #fff;
                padding: 0 5px;
            }
            .social a:hover{
                color: #343434; 
            }

    .texto-principal{
        background: #f07b3f;
    }
        h1{
            background: #ffd460;
        }
/* section */
section{
    background: #000;
    display: flex;
}
    .articulos{
        background: #4f3961;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .articulo{
            background: #ea728c;
            flex: 1 1 40%;
            
        }
        .navegacion{
            background: #fc9d9d;
            flex: 1 1 100%;
        }
    aside{
        background: #d45079;
        flex: 1 1 auto;
    }
        .publicidad{
            background: #feb72b;
        }

/* footer         */
footer{
    background: #000;
    display: flex; 
    justify-content: center;
}
    .pie{
        background: #29c7ac;
        width: 300px;    
    }

/* responsive */
@media all and (max-width: 800px){
    section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    aside{
        flex-direction: column;
    }
}
